/***********************************/
/* Custom Properties */
:root {
  /* Colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark--grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* Fonts */
  --font-body: 'League Spartan', sans-serif;
}

/***********************************/
/* Basic Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--dark--grayish-magenta);
  font-family: var(--font-body);
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.2rem;
}

img {
  width: 100%;
  display: inline-block;
}

/***********************************/
/* Typography */

/* Headings */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--very-dark-magenta);
  font-weight: 700;
}

.h1 {
  font-size: 4rem;
  line-height: 3.2rem;
}

.h5 {
  font-size: 1.7rem;
}

.lead {
  font-size: 1.9rem;
  line-height: 2.5rem;
}

/***********************************/
/* Main Layout */
.container {
  width: 100%;
  max-width: 115.8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 8.2rem;
  padding-bottom: 8.2rem;
  position: relative;
}

.section-content {
  display: grid;
  grid-gap: 5rem;
}

.section-top {
  display: grid;
  grid-gap: 4rem;
}

.section-summary {
  text-align: center;
  display: grid;
  grid-gap: 1.6rem;
}

.testimonials {
  display: grid;
  grid-gap: 1.6rem;
}

.mobile-pattern,
.desktop-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.mobile-pattern {
  display: block;
}

.desktop-pattern {
  display: none;
}

.mobile-pattern-img,
.desktop-pattern-img {
  position: absolute;
}

.mobile-pattern-img-top,
.desktop-pattern-img-top {
  top: 0;
  left: 0;
}

.mobile-pattern-img-bottom,
.desktop-pattern-img-bottom {
  bottom: 0;
  right: 0;
}

.mobile-pattern-img-top {
  max-width: 37.5rem;
}

.mobile-pattern-img-bottom {
  max-width: 37.5rem;
}

.desktop-pattern-img-top {
  max-width: 58.4rem;
}

.desktop-pattern-img-bottom {
  max-width: 108.5rem;
}

/***********************************/
/* Component */

/* Rating card */
.rating-cards {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.rating-card {
  padding: 1.5rem;
  background-color: var(--light-grayish-magenta);
  border-radius: 0.8rem;
  text-align: center;

  display: grid;
  grid-gap: 1.6rem;
}

.rating-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
}

.rating-star {
  width: 1.6rem;
  height: 1.6rem;
}
/* Testimonial */
.testimonial {
  color: var(--white);
  background-color: var(--very-dark-magenta);
  padding: 4rem 3.2rem;
  border-radius: 0.8rem;

  display: grid;
  grid-gap: 2.4rem;
}

.user {
  display: flex;
  gap: 2.3rem;
  align-items: center;
}

.user-img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-name {
  color: inherit;
}

.user-status {
  color: var(--soft-pink);
}

/***********************************/
/* Util Classes */

/**************************************/
/* Responsive styling */
/**************************************/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .h1 {
    font-size: 5.6rem;
    line-height: 4.8rem;
  }

  .section-content {
    gap: 7rem;
  }

  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mobile-pattern {
    display: none;
  }

  .desktop-pattern {
    display: block;
  }

  .section {
    padding-top: 11.8rem;
    padding-bottom: 11.8rem;
  }

  .section-content {
    grid-gap: 7.1rem;
  }

  .section-top {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
  }

  .section-summary {
    text-align: left;
  }

  .rating-card {
    padding: 2rem 3.2rem;
    border-radius: 0.8rem;
    text-align: left;

    grid-template-columns: max-content 1fr;
    align-items: center;
  }

  .testimonials {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }

  .testimonial:nth-child(2) {
    transform: translateY(1.6rem);
  }

  .testimonial:nth-child(3) {
    transform: translateY(3.2rem);
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .rating-card:nth-child(2) {
    transform: translateX(4.8rem);
  }

  .rating-card:nth-child(3) {
    transform: translateX(9.6rem);
  }
}
